<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString"
         value="Data Source=|DataDirectory|Enumerations\EnumTest.sdf" />
    <!--<add key="ConnectionString"
         value="Data Source=server;database=EnumerationTest;user=testdev;password=testdev;" />-->
  </appSettings>
</configuration>